
@media (min-width:764px){
    body{
        background-color: cadetblue;
        padding: 5%;
    }
    

.container{
    padding: 5%;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    border-radius: 30px;
}
.title{
    text-align: center;
    padding: 2%;
}
.dian{
    display: flex;
    margin: auto;
    align-content: center;
}
.nom{
    margin-left:18% ;
}
.text{
    
    align-items: center;
    text-align: center;
    text-align: center;
    margin: 5%;
}
.img1{
    padding: 30px;
    display: flex;
    margin: 10px;
    width: 400px;
    height: 400px;
    list-style: black;
}
.info{
    margin: auto;
    display:flex;
    margin: auto;
    align-content: center;
    padding: auto;
}
.mensaje{

    color: cadetblue;
}
.oportunidades{
    margin: 10px;
}





.info2{
    
    display: flex;
    margin: auto;
    align-content: center;
    padding: auto;
    flex-direction: row-reverse;
}
.nom2{
    margin-left:75% ;
}
.text2{
    align-items: center;
    text-align: center;
    text-align: center;
    margin: 5%;
}

.img2{
    align-items: right;
    display: flex;
    margin: 10px;
    width: 400px;
    height: 400px;
    
}



.dian2{
    width: 10%;
    height: 10%;
}

.mensaje{

    color: cadetblue;
}

}

@media (max-width:764px){
    body{
        background-color: cadetblue;
        padding: 5%;
    }
    

.container{
    padding: 5%;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    border-radius: 30px;
}
.title{
    text-align: center;
    padding: 2%;
}
.dian{
    display: flex;
    margin: auto;
    align-content: center;
}
.nom{
    margin-left:18% ;
}
.text{
    
    align-items: center;
    text-align: center;
    text-align: center;
    margin: 5%;
}
.img1{
    padding: 30px;
    display: flex;
    margin: 10px;
    width: 400px;
    height: 400px;
    list-style: black;
}
.info{
    margin: auto;
    display:flex;
    margin: auto;
    align-content: center;
    padding: auto;
}
.mensaje{

    color: cadetblue;
}
.oportunidades{
    margin: 10px;
}





.info2{
    
    display: flex;
    margin: auto;
    align-content: center;
    padding: auto;
    flex-direction: row-reverse;
}
.nom2{
    margin-left:75% ;
}
.text2{
    align-items: center;
    text-align: center;
    text-align: center;
    margin: 5%;
}

.img2{
    align-items: right;
    display: flex;
    margin: 10px;
    width: 400px;
    height: 400px;
    
}



.dian2{
    width: 10%;
    height: 10%;
}

.mensaje{

    color: cadetblue;
}

}